{% extends 'base.html' %}
{% load static %}
{% block web_title %}
    <title>社区</title>
{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>社区</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active">社区</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    {% if request.session.photo_url %}
                                        <img src="{{ request.session.photo_url }}"
                                             class="profile-user-img img-fluid img-circle"
                                             alt="{{ request.session.username }}">
                                    {% else %}
                                        <img src="dist/img/user2-160x160.jpg"
                                             class="profile-user-img img-fluid img-circle"
                                             alt="User Image">
                                    {% endif %}
                                </div>

                                <h3 class="profile-username text-center">{{ request.session.username }}</h3>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>粉丝</b> <a class="float-right">1,322</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>关注</b> <a class="float-right">543</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>好友</b> <a class="float-right">13,287</a>
                                    </li>
                                </ul>

                                <a href="#" class="btn btn-primary btn-block"><b>关注</b></a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#all" data-toggle="tab">全部评论</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#my"
                                                            data-toggle="tab">我的评论</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pub"
                                                            data-toggle="tab">发布评论</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <!-- 全部评论 -->
                                    <div class="active tab-pane" id="all">

                                        <!-- Post -->
                                        {% for comment in comments %}
                                            <div class="post">
                                                <div class="user-block">
                                                    <img class="img-circle img-bordered-sm"
                                                         src="/media/{{ comment.user_avatar }}" alt="user image">
                                                    <span class="username">
                                                    <a href="#">{{ comment.user_name }}</a>
                                                </span>
                                                    <span class="description">{{ comment.comment_time }}</span>
                                                </div>
                                                <!-- /.user-block -->
                                                <p>
                                                    {{ comment.comment_content }}
                                                </p>
                                                <div class="row mb-3">
                                                    <div class="col-sm-6">
                                                        <img class="img-fluid" src="/media/{{ comment.comment_photo }}"
                                                             alt="">
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <p>
                                                    <a href="{% url 'stock_detail' %}?symbol={{ my_comment.stock_ts }}" class="link-black text-sm mr-2"><i
                                                            class="fas fa-share mr-1"></i> {{ comment.stock_ts }} {{ comment.stock_name }}
                                                    </a>
                                                    <span class="float-right">

                                                        <a href="#" class="link-black text-sm">
                                                        <i class="far fa-comments mr-1"></i>  评论 (5)
                                                        </a>
                                                    </span>
                                                </p>

                                                <form class="form-horizontal" action="" method="post">
                                                    <div class="input-group input-group-sm mb-0">
                                                        <input class="form-control form-control-sm"
                                                               placeholder="发布你的评论">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-danger">发布</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        {% endfor %}
                                        <!-- /.post -->
                                    </div>
                                    <!-- /.tab-pane -->
                                    <!-- 我的评论 -->
                                    <div class="active tab-pane" id="my">

                                        <!-- Post -->
                                        {% for my_comment in my_comments %}
                                            <div class="post">
                                                <div class="user-block">
                                                    <img class="img-circle img-bordered-sm"
                                                         src="/media/{{ my_comment.user_avatar }}" alt="user image">
                                                    <span class="username">
                                                    <a href="#">{{ my_comment.user_name }}</a>
                                                    <a href="{% url 'comment_del' %}?comment_id={{ my_comment.comment_id }}" class="float-right btn-tool"><i
                                                            class="fas fa-times"></i></a>
                                                </span>
                                                    <span class="description">{{ my_comment.comment_time }}</span>
                                                </div>
                                                <!-- /.user-block -->
                                                <p>
                                                    {{ my_comment.comment_content }}
                                                </p>
                                                <div class="row mb-3">
                                                    <div class="col-sm-6">
                                                        <img class="img-fluid" src="/media/{{ my_comment.comment_photo }}"
                                                             alt="">
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <p>
                                                    <a href="{% url 'stock_detail' %}?symbol={{ my_comment.stock_ts }}" class="link-black text-sm mr-2"><i
                                                            class="fas fa-share mr-1"></i> {{ my_comment.stock_ts }} {{ my_comment.stock_name }}
                                                    </a>
                                                    <span class="float-right">

                                                        <a href="#" class="link-black text-sm">
                                                        <i class="far fa-comments mr-1"></i>  评论 (5)
                                                        </a>
                                                    </span>
                                                </p>

                                                <form class="form-horizontal" action="" method="post">
                                                    <div class="input-group input-group-sm mb-0">
                                                        <input class="form-control form-control-sm"
                                                               placeholder="发布你的评论">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-danger">发布</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        {% endfor %}
                                        <!-- /.post -->
                                    </div>
                                    <!-- /.tab-pane -->
                                    <!-- 发布评论 -->
                                    <div class="tab-pane" id="pub">
                                        <form class="form-horizontal" action="{% url 'comment_add' %}" method="post"
                                              enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="inputTitle" class="col-sm-2 col-form-label">标题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="title" class="form-control"
                                                           placeholder="标题">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputStock" class="col-sm-2 col-form-label">相关股票</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="stock_ts" class="form-control"
                                                           placeholder="输入相关股票的ts代码">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputContent" class="col-sm-2 col-form-label">内容</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="content"
                                                              placeholder="评论内容"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="InputFile">分享图片</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" name="photo_url" class="custom-file-input"
                                                               id="exampleInputFile">
                                                        <label class="custom-file-label"
                                                               for="InputFile">选择图片</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-10 col-sm-10">
                                                    <button type="submit" class="btn btn-danger">发布评论</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock content %}
