<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="6319370971a64a81a3abdcd9718c2b07" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_6319370971a64a81a3abdcd9718c2b07 = echarts.init(
            document.getElementById('6319370971a64a81a3abdcd9718c2b07'), 'white', {renderer: 'canvas'});
        var option_6319370971a64a81a3abdcd9718c2b07 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "data": [
                [
                    14.05,
                    14.0,
                    13.93,
                    14.29
                ],
                [
                    13.7,
                    13.76,
                    13.26,
                    13.84
                ],
                [
                    13.71,
                    14.03,
                    13.67,
                    14.5
                ],
                [
                    13.97,
                    13.88,
                    13.73,
                    13.99
                ],
                [
                    13.98,
                    13.51,
                    13.45,
                    14.0
                ],
                [
                    13.39,
                    13.19,
                    13.07,
                    13.54
                ],
                [
                    13.0,
                    12.37,
                    12.22,
                    13.08
                ],
                [
                    12.27,
                    12.0,
                    11.78,
                    12.46
                ],
                [
                    12.0,
                    11.72,
                    11.04,
                    12.07
                ],
                [
                    12.01,
                    11.91,
                    11.86,
                    12.13
                ],
                [
                    11.67,
                    12.11,
                    11.56,
                    12.14
                ],
                [
                    11.97,
                    11.61,
                    11.56,
                    12.06
                ],
                [
                    11.49,
                    10.82,
                    10.75,
                    11.68
                ],
                [
                    11.1,
                    11.43,
                    10.55,
                    11.5
                ],
                [
                    11.61,
                    12.03,
                    11.51,
                    12.37
                ],
                [
                    11.92,
                    11.88,
                    11.7,
                    12.1
                ],
                [
                    11.88,
                    12.02,
                    11.85,
                    12.25
                ],
                [
                    11.92,
                    11.99,
                    11.77,
                    12.17
                ],
                [
                    12.05,
                    12.05,
                    11.95,
                    12.24
                ],
                [
                    11.96,
                    12.02,
                    11.75,
                    12.11
                ],
                [
                    12.02,
                    11.75,
                    11.7,
                    12.13
                ],
                [
                    11.65,
                    11.72,
                    11.25,
                    11.77
                ],
                [
                    11.71,
                    11.31,
                    11.25,
                    11.81
                ],
                [
                    11.5,
                    11.8,
                    11.46,
                    11.81
                ],
                [
                    11.83,
                    11.19,
                    11.15,
                    11.84
                ],
                [
                    11.1,
                    11.34,
                    11.0,
                    11.5
                ],
                [
                    11.28,
                    11.06,
                    10.95,
                    11.28
                ],
                [
                    10.98,
                    10.76,
                    10.72,
                    11.03
                ],
                [
                    10.75,
                    10.63,
                    10.34,
                    10.8
                ],
                [
                    10.47,
                    9.93,
                    9.81,
                    10.48
                ],
                [
                    10.0,
                    10.21,
                    9.9,
                    10.23
                ],
                [
                    10.07,
                    9.98,
                    9.95,
                    10.16
                ],
                [
                    10.1,
                    10.05,
                    10.02,
                    10.22
                ],
                [
                    9.98,
                    10.04,
                    9.7,
                    10.12
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {
                "kline": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2022/02/25",
                "2022/02/28",
                "2022/03/01",
                "2022/03/02",
                "2022/03/03",
                "2022/03/04",
                "2022/03/07",
                "2022/03/08",
                "2022/03/09",
                "2022/03/10",
                "2022/03/11",
                "2022/03/14",
                "2022/03/15",
                "2022/03/16",
                "2022/03/17",
                "2022/03/18",
                "2022/03/21",
                "2022/03/22",
                "2022/03/23",
                "2022/03/24",
                "2022/03/25",
                "2022/03/28",
                "2022/03/29",
                "2022/03/30",
                "2022/03/31",
                "2022/04/01",
                "2022/04/06",
                "2022/04/07",
                "2022/04/08",
                "2022/04/11",
                "2022/04/12",
                "2022/04/13",
                "2022/04/14",
                "2022/04/15"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "000009 \u4e2d\u56fd\u5b9d\u5b89 \u65e5K\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "bottom": "-2%",
            "filterMode": "filter"
        }
    ]
};
        chart_6319370971a64a81a3abdcd9718c2b07.setOption(option_6319370971a64a81a3abdcd9718c2b07);
    </script>
</body>
</html>
