<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3048dd0492f94457ae736cf4d2844eef" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3048dd0492f94457ae736cf4d2844eef = echarts.init(
            document.getElementById('3048dd0492f94457ae736cf4d2844eef'), 'white', {renderer: 'canvas'});
        var option_3048dd0492f94457ae736cf4d2844eef = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "data": [
                [
                    15.73,
                    15.71,
                    15.63,
                    15.81
                ],
                [
                    15.62,
                    15.33,
                    15.28,
                    15.63
                ],
                [
                    15.17,
                    14.72,
                    14.66,
                    15.17
                ],
                [
                    14.62,
                    14.31,
                    14.25,
                    14.86
                ],
                [
                    14.4,
                    13.84,
                    13.22,
                    14.45
                ],
                [
                    14.18,
                    14.57,
                    14.09,
                    14.75
                ],
                [
                    14.4,
                    14.9,
                    14.15,
                    14.98
                ],
                [
                    14.63,
                    14.49,
                    14.45,
                    14.93
                ],
                [
                    14.4,
                    13.68,
                    13.6,
                    14.4
                ],
                [
                    13.86,
                    14.31,
                    13.51,
                    14.4
                ],
                [
                    14.66,
                    14.45,
                    14.24,
                    14.71
                ],
                [
                    14.36,
                    14.7,
                    14.14,
                    14.85
                ],
                [
                    14.5,
                    14.59,
                    14.39,
                    14.82
                ],
                [
                    14.59,
                    15.18,
                    14.5,
                    15.22
                ],
                [
                    15.11,
                    15.0,
                    14.9,
                    15.19
                ],
                [
                    14.92,
                    15.2,
                    14.81,
                    15.31
                ],
                [
                    15.15,
                    14.98,
                    14.82,
                    15.25
                ],
                [
                    14.8,
                    14.85,
                    14.63,
                    15.05
                ],
                [
                    14.88,
                    14.68,
                    14.6,
                    14.95
                ],
                [
                    14.86,
                    15.21,
                    14.76,
                    15.27
                ],
                [
                    15.1,
                    15.38,
                    15.06,
                    15.57
                ],
                [
                    15.37,
                    15.75,
                    15.2,
                    15.79
                ],
                [
                    15.64,
                    16.39,
                    15.63,
                    16.54
                ],
                [
                    16.38,
                    16.28,
                    16.2,
                    16.66
                ],
                [
                    16.26,
                    16.4,
                    16.13,
                    16.45
                ],
                [
                    16.35,
                    16.05,
                    15.8,
                    16.4
                ],
                [
                    16.05,
                    15.92,
                    15.66,
                    16.26
                ],
                [
                    15.89,
                    15.8,
                    15.72,
                    16.08
                ],
                [
                    16.0,
                    16.04,
                    15.92,
                    16.25
                ],
                [
                    15.9,
                    16.42,
                    15.86,
                    16.53
                ],
                [
                    16.15,
                    15.9,
                    15.81,
                    16.2
                ],
                [
                    15.9,
                    15.81,
                    15.62,
                    15.97
                ],
                [
                    15.81,
                    15.85,
                    15.7,
                    16.05
                ],
                [
                    15.77,
                    15.81,
                    15.7,
                    15.98
                ],
                [
                    15.64,
                    16.06,
                    15.4,
                    16.19
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {
                "kline": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2022/03/03",
                "2022/03/04",
                "2022/03/07",
                "2022/03/08",
                "2022/03/09",
                "2022/03/10",
                "2022/03/11",
                "2022/03/14",
                "2022/03/15",
                "2022/03/16",
                "2022/03/17",
                "2022/03/18",
                "2022/03/21",
                "2022/03/22",
                "2022/03/23",
                "2022/03/24",
                "2022/03/25",
                "2022/03/28",
                "2022/03/29",
                "2022/03/30",
                "2022/03/31",
                "2022/04/01",
                "2022/04/06",
                "2022/04/07",
                "2022/04/08",
                "2022/04/11",
                "2022/04/12",
                "2022/04/13",
                "2022/04/14",
                "2022/04/15",
                "2022/04/18",
                "2022/04/19",
                "2022/04/20",
                "2022/04/21",
                "2022/04/22"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "000001 \u5e73\u5b89\u94f6\u884c \u65e5K\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "bottom": "-2%",
            "filterMode": "filter"
        }
    ]
};
        chart_3048dd0492f94457ae736cf4d2844eef.setOption(option_3048dd0492f94457ae736cf4d2844eef);
    </script>
</body>
</html>
