<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ad6b203f14f94cd7aeec3c5fd22dde6b" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ad6b203f14f94cd7aeec3c5fd22dde6b = echarts.init(
            document.getElementById('ad6b203f14f94cd7aeec3c5fd22dde6b'), 'white', {renderer: 'canvas'});
        var option_ad6b203f14f94cd7aeec3c5fd22dde6b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "data": [
                [
                    11.92,
                    10.9,
                    10.55,
                    12.34
                ],
                [
                    10.87,
                    10.85,
                    10.51,
                    11.94
                ],
                [
                    10.97,
                    10.18,
                    10.02,
                    11.23
                ],
                [
                    10.15,
                    9.09,
                    8.87,
                    10.46
                ],
                [
                    9.05,
                    9.42,
                    8.45,
                    9.59
                ],
                [
                    9.42,
                    10.13,
                    8.64,
                    10.43
                ],
                [
                    10.09,
                    11.05,
                    9.68,
                    11.27
                ],
                [
                    10.7,
                    10.91,
                    9.7,
                    11.46
                ],
                [
                    10.99,
                    10.36,
                    10.16,
                    11.16
                ],
                [
                    10.59,
                    9.38,
                    9.21,
                    10.66
                ],
                [
                    9.39,
                    11.1,
                    9.15,
                    11.2
                ],
                [
                    11.2,
                    12.36,
                    10.9,
                    12.66
                ],
                [
                    12.48,
                    12.82,
                    12.01,
                    13.38
                ],
                [
                    12.83,
                    13.85,
                    12.83,
                    14.84
                ],
                [
                    13.1,
                    12.18,
                    11.93,
                    13.35
                ],
                [
                    12.22,
                    13.78,
                    11.6,
                    13.95
                ],
                [
                    14.01,
                    14.13,
                    13.44,
                    14.55
                ],
                [
                    14.06,
                    14.16,
                    13.03,
                    15.22
                ],
                [
                    14.15,
                    15.59,
                    14.11,
                    16.04
                ],
                [
                    15.6,
                    16.26,
                    15.6,
                    17.6
                ],
                [
                    16.35,
                    15.29,
                    15.18,
                    17.44
                ],
                [
                    15.35,
                    16.45,
                    15.21,
                    16.93
                ],
                [
                    16.65,
                    15.54,
                    15.39,
                    17.34
                ],
                [
                    13.99,
                    14.5,
                    13.99,
                    15.72
                ],
                [
                    14.55,
                    12.8,
                    11.91,
                    15.64
                ],
                [
                    12.86,
                    13.93,
                    12.47,
                    14.32
                ],
                [
                    13.76,
                    13.0,
                    12.76,
                    14.13
                ],
                [
                    13.1,
                    12.8,
                    12.52,
                    13.88
                ],
                [
                    12.79,
                    13.34,
                    12.74,
                    16.63
                ],
                [
                    13.47,
                    15.08,
                    13.43,
                    15.68
                ],
                [
                    14.96,
                    15.17,
                    14.6,
                    16.09
                ],
                [
                    15.3,
                    17.75,
                    15.13,
                    18.78
                ],
                [
                    17.65,
                    19.74,
                    16.69,
                    20.88
                ],
                [
                    19.7,
                    19.34,
                    17.79,
                    20.51
                ],
                [
                    19.1,
                    23.09,
                    17.8,
                    23.54
                ],
                [
                    23.0,
                    21.38,
                    21.21,
                    25.31
                ],
                [
                    21.54,
                    22.01,
                    20.28,
                    23.49
                ],
                [
                    22.08,
                    23.29,
                    19.81,
                    24.23
                ],
                [
                    23.1,
                    24.2,
                    22.6,
                    25.16
                ],
                [
                    24.2,
                    22.62,
                    22.0,
                    25.06
                ],
                [
                    22.81,
                    17.69,
                    17.24,
                    23.5
                ],
                [
                    17.64,
                    17.8,
                    17.18,
                    21.2
                ],
                [
                    17.48,
                    17.93,
                    17.01,
                    20.99
                ],
                [
                    18.17,
                    19.5,
                    18.02,
                    20.59
                ],
                [
                    19.33,
                    17.44,
                    17.16,
                    19.73
                ],
                [
                    17.43,
                    16.48,
                    16.4,
                    19.06
                ],
                [
                    16.48,
                    15.83,
                    15.82,
                    17.56
                ],
                [
                    16.02,
                    15.75,
                    15.62,
                    17.34
                ],
                [
                    15.79,
                    15.38,
                    13.22,
                    15.95
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {
                "kline": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2018/03/30",
                "2018/04/27",
                "2018/05/31",
                "2018/06/29",
                "2018/07/31",
                "2018/08/31",
                "2018/09/28",
                "2018/10/31",
                "2018/11/30",
                "2018/12/28",
                "2019/01/31",
                "2019/02/28",
                "2019/03/29",
                "2019/04/30",
                "2019/05/31",
                "2019/06/28",
                "2019/07/31",
                "2019/08/30",
                "2019/09/30",
                "2019/10/31",
                "2019/11/29",
                "2019/12/31",
                "2020/01/23",
                "2020/02/28",
                "2020/03/31",
                "2020/04/30",
                "2020/05/29",
                "2020/06/30",
                "2020/07/31",
                "2020/08/31",
                "2020/09/30",
                "2020/10/30",
                "2020/11/30",
                "2020/12/31",
                "2021/01/29",
                "2021/02/26",
                "2021/03/31",
                "2021/04/30",
                "2021/05/31",
                "2021/06/30",
                "2021/07/30",
                "2021/08/31",
                "2021/09/30",
                "2021/10/29",
                "2021/11/30",
                "2021/12/31",
                "2022/01/28",
                "2022/02/28",
                "2022/03/31"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "000001 \u5e73\u5b89\u94f6\u884c \u6708K\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "bottom": "-2%",
            "filterMode": "filter"
        }
    ]
};
        chart_ad6b203f14f94cd7aeec3c5fd22dde6b.setOption(option_ad6b203f14f94cd7aeec3c5fd22dde6b);
    </script>
</body>
</html>
