{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Content Wrapper. Contains page content 核心内容-->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-1">
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-6 connectedSortable">
                        <div class="card card-primary card-outline">
                            <div class="card-header with-border">
                                <h3 class="card-title">用户自定义选股</h3>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'stock_select' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      <input name="eps_check" type="checkbox">
                                                    </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    基本每股收益大于
                                                </span>
                                                </div>
                                                <input name="eps" type="number" class="form-control">
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <input name="trp_check" type="checkbox">
                                                </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    每股营业总收入大于
                                                </span>
                                                </div>
                                                <input name="trp" type="number" class="form-control">

                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <input name="bps_check" type="checkbox">
                                                </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    每股净资产大于
                                                </span>
                                                </div>
                                                <input name="bps" type="text" class="form-control">
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <input name="roa_check" type="checkbox">
                                                </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    总资产报酬率大于
                                                </span>
                                                </div>
                                                <input name="roa" type="text" class="form-control">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  %
                                                </span>
                                                </div>
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <input name="cta_check" type="checkbox">
                                                </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    流动资产占总资产
                                                </span>
                                                </div>
                                                <input name="cta" type="text" class="form-control">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    %以上
                                                </span>
                                                </div>
                                            </div>
                                            <!-- /input-group -->
                                        </div>

                                    </div>
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <input name="ote_check" type="checkbox">
                                                </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    营业利润占利润总额
                                                </span>
                                                </div>
                                                <input name="ote" type="text" class="form-control">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    %以上
                                                </span>
                                                </div>
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <input name="crp_check" type="checkbox">
                                                </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    每股资本公积小于
                                                </span>
                                                </div>
                                                <input name="crp" type="text" class="form-control">
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <input name="fcff_check" type="checkbox">
                                                </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    企业自由现金流量大于
                                                </span>
                                                </div>
                                                <input name="fcff" type="text" class="form-control">
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="row blockquote">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <input name="ebt_check" type="checkbox">
                                                </span>
                                                </div>
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    利润总额同比增长
                                                </span>
                                                </div>
                                                <input name="ebt" type="text" class="form-control">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    %以上
                                                </span>
                                                </div>
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="col-lg-10"></div>
                                        <button type="submit" class="btn btn-danger col-lg-2">查询</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer clearfix">
                            </div>
                        </div>

                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-6 connectedSortable">
                        <div class="card card-primary card-outline">
                            <div class="card-header with-border">
                                <h3 class="card-title">默认策略精选选股</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                        <tr>
                                            <th>股票代码</th>
                                            <th>股票名称</th>
                                            <th>最新价</th>
                                            <th>涨跌</th>
                                            <th>涨跌幅</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for stock in good_stocks %}
                                            <tr>
                                                {% if stock.change > 0 %}
                                                    <td style="color: red"><a
                                                            href="{% url 'stock_detail' %}?symbol={{ stock.symbol }}">{{ stock.symbol }}</a>
                                                    </td>
                                                    <td style="color: red">{{ stock.name }}</td>
                                                    <td style="color: red">{{ stock.close }}</td>
                                                    <td style="color: red">{{ stock.change }}</td>
                                                    <td style="color: red">{{ stock.pct }}%</td>
                                                {% else %}
                                                    <td style="color: green"><a
                                                            href="{% url 'stock_detail' %}?symbol={{ stock.symbol }}">{{ stock.symbol }}</a>
                                                    </td>
                                                    <td style="color: green">{{ stock.name }}</td>
                                                    <td style="color: green">{{ stock.close }}</td>
                                                    <td style="color: green">{{ stock.change }}</td>
                                                    <td style="color: green">{{ stock.pct }}%</td>
                                                {% endif %}
                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer clearfix">
                                策略基于MM选股策略
                            </div>
                        </div>
                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock content %}

