<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="06673b37634a4bd79348941e95dd753f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_06673b37634a4bd79348941e95dd753f = echarts.init(
            document.getElementById('06673b37634a4bd79348941e95dd753f'), 'white', {renderer: 'canvas'});
        var option_06673b37634a4bd79348941e95dd753f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "data": [
                [
                    6.42,
                    6.82,
                    6.41,
                    6.83
                ],
                [
                    6.81,
                    6.92,
                    6.64,
                    7.05
                ],
                [
                    6.91,
                    7.15,
                    6.75,
                    7.18
                ],
                [
                    7.11,
                    7.07,
                    6.97,
                    7.25
                ],
                [
                    7.05,
                    6.82,
                    6.76,
                    7.1
                ],
                [
                    6.76,
                    6.63,
                    6.55,
                    6.84
                ],
                [
                    6.66,
                    6.34,
                    6.25,
                    6.66
                ],
                [
                    6.34,
                    6.4,
                    6.24,
                    6.43
                ],
                [
                    6.42,
                    6.23,
                    6.22,
                    6.5
                ],
                [
                    6.24,
                    6.22,
                    6.14,
                    6.31
                ],
                [
                    6.3,
                    6.11,
                    6.11,
                    6.3
                ],
                [
                    6.2,
                    5.98,
                    5.97,
                    6.2
                ],
                [
                    5.98,
                    5.34,
                    5.32,
                    5.98
                ],
                [
                    5.34,
                    5.24,
                    5.15,
                    5.57
                ],
                [
                    5.24,
                    5.66,
                    5.2,
                    6.13
                ],
                [
                    5.66,
                    6.11,
                    5.56,
                    6.23
                ],
                [
                    6.12,
                    6.13,
                    5.99,
                    6.25
                ],
                [
                    6.15,
                    6.16,
                    5.85,
                    6.43
                ],
                [
                    6.27,
                    6.25,
                    6.12,
                    6.36
                ],
                [
                    6.2,
                    5.95,
                    5.84,
                    6.38
                ],
                [
                    5.84,
                    5.95,
                    5.76,
                    6.42
                ],
                [
                    5.94,
                    5.81,
                    5.69,
                    6.08
                ],
                [
                    5.85,
                    5.89,
                    5.81,
                    6.01
                ],
                [
                    5.96,
                    5.41,
                    5.34,
                    6.05
                ],
                [
                    5.44,
                    5.39,
                    5.24,
                    5.69
                ],
                [
                    5.08,
                    4.9,
                    4.78,
                    5.33
                ],
                [
                    4.85,
                    4.81,
                    4.75,
                    5.03
                ],
                [
                    4.81,
                    5.03,
                    4.7,
                    5.38
                ],
                [
                    5.0,
                    5.09,
                    4.91,
                    5.2
                ],
                [
                    5.09,
                    5.05,
                    4.98,
                    5.18
                ],
                [
                    5.05,
                    5.22,
                    4.9,
                    5.24
                ],
                [
                    5.3,
                    6.31,
                    5.18,
                    6.94
                ],
                [
                    6.19,
                    5.95,
                    5.61,
                    6.39
                ],
                [
                    5.96,
                    6.18,
                    5.92,
                    7.6
                ],
                [
                    6.26,
                    6.35,
                    6.12,
                    6.69
                ],
                [
                    6.35,
                    7.76,
                    6.15,
                    7.92
                ],
                [
                    7.54,
                    7.25,
                    7.0,
                    8.0
                ],
                [
                    7.19,
                    7.36,
                    7.05,
                    7.86
                ],
                [
                    7.41,
                    7.22,
                    7.0,
                    7.68
                ],
                [
                    7.26,
                    7.5,
                    6.88,
                    7.63
                ],
                [
                    7.28,
                    7.62,
                    6.89,
                    7.7
                ],
                [
                    7.59,
                    7.48,
                    7.02,
                    7.97
                ],
                [
                    7.46,
                    7.8,
                    7.17,
                    7.89
                ],
                [
                    7.78,
                    7.47,
                    7.3,
                    8.18
                ],
                [
                    7.4,
                    7.37,
                    6.3,
                    7.83
                ],
                [
                    7.32,
                    9.65,
                    7.01,
                    9.65
                ],
                [
                    10.0,
                    15.55,
                    9.56,
                    15.55
                ],
                [
                    17.11,
                    19.25,
                    16.68,
                    19.25
                ],
                [
                    17.33,
                    24.42,
                    17.15,
                    24.42
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {
                "kline": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2021/05/07",
                "2021/05/14",
                "2021/05/21",
                "2021/05/28",
                "2021/06/04",
                "2021/06/11",
                "2021/06/18",
                "2021/06/25",
                "2021/07/02",
                "2021/07/09",
                "2021/07/16",
                "2021/07/23",
                "2021/07/30",
                "2021/08/06",
                "2021/08/13",
                "2021/08/20",
                "2021/08/27",
                "2021/09/03",
                "2021/09/10",
                "2021/09/17",
                "2021/09/24",
                "2021/09/30",
                "2021/10/08",
                "2021/10/15",
                "2021/10/22",
                "2021/10/29",
                "2021/11/05",
                "2021/11/12",
                "2021/11/19",
                "2021/11/26",
                "2021/12/03",
                "2021/12/10",
                "2021/12/17",
                "2021/12/24",
                "2021/12/31",
                "2022/01/07",
                "2022/01/14",
                "2022/01/21",
                "2022/01/28",
                "2022/02/11",
                "2022/02/18",
                "2022/02/25",
                "2022/03/04",
                "2022/03/11",
                "2022/03/18",
                "2022/03/25",
                "2022/04/01",
                "2022/04/08",
                "2022/04/15"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "000736 \u4e2d\u4ea4\u5730\u4ea7 \u5468K\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "bottom": "-2%",
            "filterMode": "filter"
        }
    ]
};
        chart_06673b37634a4bd79348941e95dd753f.setOption(option_06673b37634a4bd79348941e95dd753f);
    </script>
</body>
</html>
