<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3fe1b806b875427baf87c59b5e3e5141" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3fe1b806b875427baf87c59b5e3e5141 = echarts.init(
            document.getElementById('3fe1b806b875427baf87c59b5e3e5141'), 'white', {renderer: 'canvas'});
        var option_3fe1b806b875427baf87c59b5e3e5141 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "data": [
                [
                    23.1,
                    24.05,
                    23.1,
                    24.3
                ],
                [
                    24.0,
                    23.32,
                    22.6,
                    24.04
                ],
                [
                    23.15,
                    23.49,
                    22.95,
                    24.13
                ],
                [
                    23.48,
                    24.5,
                    23.19,
                    25.16
                ],
                [
                    24.33,
                    24.54,
                    23.38,
                    24.96
                ],
                [
                    24.48,
                    23.37,
                    23.12,
                    25.06
                ],
                [
                    23.35,
                    22.65,
                    22.39,
                    23.69
                ],
                [
                    22.6,
                    23.36,
                    22.01,
                    23.6
                ],
                [
                    23.36,
                    21.81,
                    21.76,
                    23.5
                ],
                [
                    21.69,
                    21.27,
                    21.02,
                    23.05
                ],
                [
                    21.5,
                    21.34,
                    20.41,
                    21.82
                ],
                [
                    21.36,
                    20.1,
                    20.0,
                    21.43
                ],
                [
                    19.96,
                    17.69,
                    17.24,
                    19.99
                ],
                [
                    17.64,
                    17.86,
                    17.18,
                    18.15
                ],
                [
                    17.91,
                    19.89,
                    17.84,
                    20.58
                ],
                [
                    20.09,
                    19.42,
                    18.7,
                    21.2
                ],
                [
                    19.5,
                    18.39,
                    18.31,
                    20.05
                ],
                [
                    18.21,
                    18.04,
                    17.01,
                    18.78
                ],
                [
                    17.93,
                    20.57,
                    17.78,
                    20.77
                ],
                [
                    20.36,
                    18.53,
                    18.41,
                    20.99
                ],
                [
                    17.87,
                    17.35,
                    17.34,
                    18.32
                ],
                [
                    17.21,
                    17.93,
                    17.06,
                    18.44
                ],
                [
                    18.17,
                    18.64,
                    18.02,
                    18.89
                ],
                [
                    19.0,
                    19.66,
                    18.89,
                    19.92
                ],
                [
                    19.45,
                    20.04,
                    19.1,
                    20.59
                ],
                [
                    19.71,
                    19.5,
                    19.32,
                    20.45
                ],
                [
                    19.33,
                    17.64,
                    17.57,
                    19.73
                ],
                [
                    17.62,
                    18.27,
                    17.16,
                    18.63
                ],
                [
                    18.35,
                    18.15,
                    17.7,
                    18.63
                ],
                [
                    18.03,
                    17.58,
                    17.52,
                    18.35
                ],
                [
                    17.41,
                    17.65,
                    17.35,
                    17.81
                ],
                [
                    17.85,
                    18.38,
                    17.8,
                    19.06
                ],
                [
                    18.47,
                    17.57,
                    17.4,
                    18.88
                ],
                [
                    17.56,
                    17.31,
                    17.21,
                    17.71
                ],
                [
                    17.33,
                    16.48,
                    16.4,
                    17.35
                ],
                [
                    16.48,
                    17.2,
                    16.18,
                    17.28
                ],
                [
                    17.29,
                    16.33,
                    16.3,
                    17.54
                ],
                [
                    16.35,
                    17.35,
                    16.12,
                    17.56
                ],
                [
                    17.34,
                    15.83,
                    15.82,
                    17.38
                ],
                [
                    16.02,
                    17.1,
                    15.89,
                    17.34
                ],
                [
                    17.1,
                    16.77,
                    16.1,
                    17.15
                ],
                [
                    16.66,
                    15.9,
                    15.8,
                    16.67
                ],
                [
                    15.9,
                    15.33,
                    15.28,
                    15.95
                ],
                [
                    15.17,
                    14.9,
                    13.22,
                    15.17
                ],
                [
                    14.63,
                    14.7,
                    13.51,
                    14.93
                ],
                [
                    14.5,
                    14.98,
                    14.39,
                    15.31
                ],
                [
                    14.8,
                    15.75,
                    14.6,
                    15.79
                ],
                [
                    15.64,
                    16.4,
                    15.63,
                    16.66
                ],
                [
                    16.35,
                    16.42,
                    15.66,
                    16.53
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {
                "kline": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2021/05/07",
                "2021/05/14",
                "2021/05/21",
                "2021/05/28",
                "2021/06/04",
                "2021/06/11",
                "2021/06/18",
                "2021/06/25",
                "2021/07/02",
                "2021/07/09",
                "2021/07/16",
                "2021/07/23",
                "2021/07/30",
                "2021/08/06",
                "2021/08/13",
                "2021/08/20",
                "2021/08/27",
                "2021/09/03",
                "2021/09/10",
                "2021/09/17",
                "2021/09/24",
                "2021/09/30",
                "2021/10/08",
                "2021/10/15",
                "2021/10/22",
                "2021/10/29",
                "2021/11/05",
                "2021/11/12",
                "2021/11/19",
                "2021/11/26",
                "2021/12/03",
                "2021/12/10",
                "2021/12/17",
                "2021/12/24",
                "2021/12/31",
                "2022/01/07",
                "2022/01/14",
                "2022/01/21",
                "2022/01/28",
                "2022/02/11",
                "2022/02/18",
                "2022/02/25",
                "2022/03/04",
                "2022/03/11",
                "2022/03/18",
                "2022/03/25",
                "2022/04/01",
                "2022/04/08",
                "2022/04/15"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "000001 \u5e73\u5b89\u94f6\u884c \u5468K\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "bottom": "-2%",
            "filterMode": "filter"
        }
    ]
};
        chart_3fe1b806b875427baf87c59b5e3e5141.setOption(option_3fe1b806b875427baf87c59b5e3e5141);
    </script>
</body>
</html>
